<section class="main index container ">
  <div class="d-flex flex-row justify-content-between align-items-center row">
    <div class="comment col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h2 class="text-center">Welcome!<br>TuTanKhamen's Blog</h2>
      <p class="mt-4 ">투탕카멘의 블로그에 오신 것을 환영합니다! 개인 블로그를 만들고 기능들을 추가하고, 포스팅을 해가면서 관련 지식을 늘려갈 예정입니다! 블로그 버전 1.0.0에서는 제가 주로
        쓰는 Ruby On Rails나 IT와 관련됫 것들에 대한 포스팅만 많겠지만, 카테고리에 대한 업데이트 등을 거치면서 크게 키워볼 생각입니다.</p>
      <p class="mb-4 ">투탕카멘(TuTanKhamen)이라는 닉네임은 온라인 상에서 제가 주로 사용하는 닉네임입니다.</p>
      <p class="mb-4 ">원래 도메인은 TuTanKhamen.me로 하고싶었지만.. 이미 팔려서.. 흑</p>
    </div>
    <div class="col-8 col-sm-8 col-md-12 col-lg-4 col-xl-4 mx-auto mb-sm-5 mb-5">
      <%= image_tag 'profile.png', class: 'profile' %>
    </div>
  </div>
</section>
