html {
    font-size: 15px; /* 15px = 1rem*/
    line-height: 1.6; /* 24px/15px*/
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button {
    outline: none;
}

a, a:hover, a:focus {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}
