// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'font';

$main_color: #AF6C6B;

@import "common/utilities";
@import "common/normalize";
@import "common/bootstrap-grid";

.categories {
  h1 {
    font-family: Tmon-Tium;
    font-size: 2rem;
  }
  .root-category {
    border: 1px solid $main_color;
    ul {
      list-style-type: none;
      padding: 0;
    }
    input[type="radio"] {
      display: none;
      &:checked ~ label {
        background-color: $main_color;
        &:hover {
          background-color: darken($main_color, 20%);
        }
      }
    }
    label {
      display: block;
      font-family: Tmon-Tium;
      &:hover {
        background-color: #666666;
      }
    }
  }
  .btn-done {
    text-decoration: none;
    color: black;
    max-width: 100px;
    font-family: Tmon-Monsori;
    font-size: 1.2rem;
    border: 1px solid $main_color;
    transition: all 0.2s;
    &:hover {
      background-color: $main_color;
    }
  }
}