.devise {
  h2 {
    font-family: Tmon-Tium;
    font-size: 3rem;
    line-height: 1;
  }
  form {
    label {
      font-family: Tmon-Tium;
      font-size: 0.9rem;
      line-height: 1;
    }
    input {
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      font-size: 1.2rem;
      line-height: 1;
      font-family: Tmon-Tium;
      background-color: lighten($main_color, 50%);
      &:focus {
        outline: none;
        border-color: $main_color;
      }
      &[type="submit"] {
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background-color: lighten($main_color, 40%);
        }
      }
    }
    .user_remember_me {
      flex-direction: row;
      align-items: center;
      [type="checkbox"] {
        display: none;
        & + label {
          cursor: pointer;
          font-family: Tmon-Monsori;
          line-height: 1;
          transition: all 0.3s;
          &:hover {
            color: $main_color;
          }
        }
        & + label:before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          vertical-align: middle;
          border: 3px solid gray;
          border-radius: 3px;
          margin-right: 7px;
          background-color: white;
          animation: checkbox02-reverse 350ms;
        }
        &:checked + label:before {
          font-family: 'FontAwesome';
          content: '\f00c';
          font-size: 24px;
          color: white;
          background-color: $main_color;
          border: 1px solid $main_color;
          animation: checkbox02 350ms;
        }
      }
    }
    a {
      font-family: Tmon-Monsori;
      line-height: 1;
      letter-spacing: 1px;
      transition: all 0.3s;
      text-decoration: none;
      color: #181818;
      &:hover {
        color: $main_color
      }
    }
  }
}

@keyframes checkbox02 {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox02-reverse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}