@font-face {
  font-family: 'BM-Dohyeon';
  src: url('BM-Dohyeon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BM-Hanna';
  src: url('BM-Hanna.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BM-Jua';
  src: url('BM-Jua.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BM-Yeonsung';
  src: url('BM-Yeonsung.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tmon-Monsori';
  src: url('Tmon-Monsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tmon-Tium';
  src: url('Tmon-Tium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YJ-Yache';
  src: url('YJ-Yache.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}