@font-face {
  font-family: 'Tmon-Monsori';
  src: url('Tmon-Monsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tmon-Tium';
  src: url('Tmon-Tium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}