// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  a, a:hover, a:focus, a:visited {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  &.index {
    padding-top: 10rem;
    min-height: calc(100vh - 4rem);
    .comment {
      h2 {
        font-size: 3rem;
        line-height: 1;
        font-family: Tmon-Tium;
      }
      p {
        word-break: keep-all;
        font-family: BM-Jua;
        font-size: 1.1rem;
      }
    }
    .profile {
      width: 100%;
      height: auto;
    }
  }
}