header {
  a, a:hover, a:focus, a:visited {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  h1 {
    font-family: Tmon-Tium;
    font-weight: 900;
    line-height: 1;
  }
  nav {
    ul{
      list-style-type: none;
    }
    a {
      font-family: Tmon-Tium;
      font-size: 1rem;
      color: #181818;
      transition: all 0.8s;
      &:hover {
        font-family: Tmon-Tium;
        color: $main_color;
      }
    }
  }
}

footer {
  a, a:hover, a:focus, a:visited {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  article {
    h4 {
      font-family: Tmon-Tium;
    }
    .content {
      font-family: Tmon-Monsori;
      line-height: 1.2;
      span {
        font-family: Tmon-Tium;
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #DADADA;
        }
      }
    }
  }
  position: relative;
  bottom: 0;
  background-color: $main_color;
  .copyright {
    font-family: BM-Hanna;
    font-size: 1rem;
  }
}