.posts {
  &.index, &.show, &.new, &.edit {
    min-height: calc(100vh - 4rem);
  }
  &.index {
    .btn-new-post {
      a {
        border: 1px solid $main_color;
        border-radius: 10px;
        font-family: Tmon-Tium;
        font-size: 1rem;
        transition: all 0.3s;
        line-height: 1;
        &:hover {
          background-color: lighten($main_color, 10%);
        }
      }
    }
    a.post {
      border: 1px solid $main_color;
      border-radius: 5px;
      box-shadow: 0 0 5px 1px grey;
      transition: all 0.4s;
      &:hover {
        box-shadow: 0 0 10px 5px grey;
      }
      &.unpublished {
        background-color: slategrey;
      }
      article {
        p {
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-family: Tmon-Monsori;
          font-size: 0.8rem;
          color: #666666;
        }
        h4 {
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-family: Tmon-Monsori;
          font-size: 1.2rem;
          line-height: 1;
          @media (max-width: 767px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  &.show {
    h2 {
      flex: 1;
      word-break: break-all;
      white-space: normal;
    }
    .content {
      word-break: break-all;
      white-space: normal;
    }
    .btn-group {
      a {
        border: 1px solid $main_color;
        border-radius: 5px;
        font-family: Tmon-Monsori;
        font-size: 1.2rem;
        line-height: 1;
        transition: all 0.4s;
        &:hover {
          background-color: lighten($main_color, 10%);
        }
      }
    }
    .post-wrapper {
      hr {
        border-color: lighten($main_color, 50%);
      }
      .times {
        font-size: 0.7rem;
        font-family: Tmon-Monsori;
        color: slategrey;
      }
      .comment-wrapper {
        span {
          font-family: BM-Dohyeon;
          font-size: 0.8rem;
          bold: 500;
          color: darkgrey;
        }
        .comment {
          .user {
            font-size: 1rem;
            color: #2E2F30;
          }
          .time {
            font-size: 0.7rem;
            font-family: BM-Dohyeon;
          }
          .content {
            font-family: BM-Hanna;
            font-size: 1.1rem;
          }
          span.btn {
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              color: lighten($main_color, 10%);
            }
          }
        }
        form {
          width: 100%;
          textarea {
            resize-x: snone;
            font-size: 1.1rem;
            font-family: BM-Hanna;
            height: 5rem;
          }
          input[type="submit"] {
            border: 1px solid $main_color;
            background-color: lighten($main_color, 20%);
            font-family: Tmon-Monsori;
            cursor: pointer;
            transition: all 0.6s;
            &:focus {
              background-color: $main_color;
            }
          }
        }
      }
    }
  }
  &.new, &.edit {
    h2 {
      font-family: Tmon-Tium;
    }
    form#form {
      #post_title {
        border: 1px solid $main_color;
        font-family: Tmon-Monsori;
        font-size: 1.2rem;
        border-radius: 5px;
      }
      .tinymce-wrapper {
        .tinymce {
          height: 100vh;
        }
      }
      .btn-wrapper {
        input[type="submit"] {
          border: 1px solid $main_color;
          border-radius: 20px;
          padding: 0.5rem 1rem;
          font-family: Tmon-Monsori;
          font-size: 1.2rem;
          line-height: 1;
          cursor: pointer;
          background-color: white;
          min-width: 100px;
          margin: 0 1rem;
          transition: all 0.4s;
          &:hover {
            background-color: lighten($main_color, 10%);
          }
        }
      }
    }
  }
}