.posts {
  &.index, &.show, &.new, &.edit {
    min-height: calc(100vh - 4rem);
  }
  &.index {
    a, a:hover, a:focus, a:visited {
      outline: none;
      text-decoration: none;
      color: inherit;
    }
    .btn-new-post {
      a {
        border: 1px solid $main_color;
        border-radius: 10px;
        font-family: Tmon-Tium;
        font-size: 1rem;
        transition: all 0.3s;
        line-height: 1;
        &:hover {
          background-color: lighten($main_color, 10%);
        }
      }
    }
    a.post {
      border: 1px solid $main_color;
      border-radius: 5px;
      box-shadow: 0 0 5px 1px grey;
      transition: all 0.4s;
      &:hover {
        box-shadow: 0 0 10px 5px grey;
      }
      &.unpublished {
        background-color: slategrey;
      }
      article {
        h4 {
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-family: Tmon-Monsori;
          font-size: 1.1rem;
          width: 100%;
        }

        .comments-count {
          font-family: Tmon-Monsori;
          line-height: 1;
        }
        .times {
          font-size: 0.8rem;
          line-height: 1;
          font-family: Tmon-Monsori;
          color: #666666;

        }
      }
    }
  }
  &.show {
    h2 {
      flex: 1;
      word-break: break-all;
      white-space: normal;
    }
    .post-content {
      word-break: break-all;
      white-space: normal;
      & img {
        max-width: 100%;
      }
    }
    .btn-group {
      a, a:hover, a:focus, a:visited {
        text-decoration: none;
        color: inherit;
      }
      a {
        border: 1px solid $main_color;
        border-radius: 5px;
        font-family: Tmon-Monsori;
        font-size: 1.2rem;
        line-height: 1;
        transition: all 0.4s;
        &:hover {
          background-color: lighten($main_color, 10%);
        }
      }
    }
    .post-wrapper {
      h2 {
        font-family: Tmon-Monsori;
      }
      hr {
        border-color: lighten($main_color, 50%);
      }
      .times {
        font-size: 0.9rem;
        font-family: BM-Hanna;
        color: slategrey;
      }
      .tokens {
        .token {
          font-size: 1rem;
          line-height:1;
          font-family: YJ-Yache;
          font-weight: 700;
          color: #181818;
          background-color: $main_color;
          border-radius: 7px;
        }
      }
      .comment-wrapper {
        a, a:hover, a:focus, a:visited {
          font-family: inherit;
          font-size: inherit;
          outline: none;
          text-decoration: none;
          color: inherit;
        }
        span {
          font-family: BM-Dohyeon;
          font-size: 0.8rem;
          bold: 500;
          color: darkgrey;
        }
        .comment {
          .user {
            font-size: 1rem;
            color: #2E2F30;
          }
          .time {
            font-size: 0.7rem;
            font-family: BM-Dohyeon;
          }
          .content {
            font-family: BM-Jua;
            font-size: 1.1rem;
          }

          a {
            font-family: BM-Jua;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              color: lighten($main_color, 10%);
            }
          }
        }
        form {
          width: 100%;
          textarea {
            resize-x: snone;
            font-size: 1.1rem;
            font-family: BM-Jua;
            height: 5rem;
          }
          input[type="submit"] {
            border: 1px solid $main_color;
            background-color: lighten($main_color, 20%);
            font-family: Tmon-Monsori;
            cursor: pointer;
            transition: all 0.6s;
            &:focus {
              background-color: $main_color;
            }
          }
        }
        .not-signed-in {
          font-family: Tmon-Monsori;
          font-size: 1.2rem;
          color: dimgrey;
          background-color: lightgrey;
          line-height: 1;
        }
      }
    }
  }
  &.new, &.edit {
    h2 {
      font-family: Tmon-Tium;
    }
    form#form {
      #post_title {
        border: 1px solid $main_color;
        font-family: Tmon-Monsori;
        font-size: 1.2rem;
        border-radius: 5px;
      }
      ul.token-input-list-facebook {
        width: 100%;
      }
      .tinymce-wrapper {
        .tinymce {
          height: 100vh;
        }
      }
      .btn-wrapper {
        input[type="submit"] {
          border: 1px solid $main_color;
          border-radius: 20px;
          padding: 0.5rem 1rem;
          font-family: Tmon-Monsori;
          font-size: 1.2rem;
          line-height: 1;
          cursor: pointer;
          background-color: white;
          min-width: 100px;
          margin: 0 1rem;
          transition: all 0.4s;
          &:hover {
            background-color: lighten($main_color, 10%);
          }
        }
      }
    }
  }
  .categories {
    border: 1px solid lighten($main_color, 10%);
    border-radius: 5px;
    .btn-category {
      border: 1px solid $main_color;
      border-radius: 5px;
      font-family: Tmon-Tium;
      color: black;
      transition: all 0.3s;
      &:hover {
        background-color: lighten($main_color, 10%);
        color: black;
      }
    }
    color: lighten($main_color, 10%);
    font-family: BM-Dohyeon;
    font-size: 1rem;
    *:before {
      width: 17px;
      height: 17px;
      display: inline-block;
    }
    input[type="checkbox"] {
      display: none;
    }
    label {
      color: lighten(black, 5%);
      cursor: pointer;
      &:before {
        content: '-'
      }
    }
    ul {
      padding: 0;
      list-style-type: none;
      a:hover {
        color: darken($main_color, 15%);
        font-weight: bold;
      }
    }
    input[type="checkbox"]:checked {
      & ~ ul {
        display: none;
      }
      & + label {
        &:before {
          content: '+';
        }
      }
    }
  }
}